{#
/*****************************************************************************
 *
 * ---------------------------------------------------------------
 * Australia Post: Postage Assesment Calculator for OpenCart 3.0
 *    (c) 2019 WWWShop, unauthorized reproduction is prohibited
 * ---------------------------------------------------------------
 *
 * Developer: WWWShop (opencart@wwwshop.com.au)
 * Date: 2019-09-10
 * Website: http://wwwshop.com.au/
 *
 *****************************************************************************/
#}{{ header }}
<style type="text/css">
.auspost-options { margin-left: 20px; }
.auspost-row .checkbox { padding-top: 4px; }
.scrollbox div.auspost-input { margin: 5px 0 0 17px; }
.scrollbox div.auspost-input input { padding: 2px; width: 100px; }
.auspost-note { font-style: italic; }
#service-select { margin-top: 10px; }
#service-add { margin-top: 10px; }
</style>{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-auspost" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if error_currency %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_currency }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
      {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-auspost" class="form-horizontal">
        
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-services" data-toggle="tab">{{ tab_services }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-api-key">{{ entry_api_key }}</label>
                <div class="col-sm-10">
                  <input type="text" name="shipping_auspost_pac_api_key" value="{{ shipping_auspost_pac_api_key }}" placeholder="{{ entry_api_key }}" id="input-api-key" class="form-control" />
                  {% if error_api_key %}
                  <div class="text-danger">{{ error_api_key }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-origin-postcode"><span data-toggle="tooltip" title="{{ help_origin_postcode }}">{{ entry_origin_postcode }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="shipping_auspost_pac_origin_postcode" value="{{ shipping_auspost_pac_origin_postcode }}" placeholder="{{ entry_origin_postcode }}" id="input-origin-postcode" class="form-control" />
                  {% if error_origin_postcode %}
                  <div class="text-danger">{{ error_origin_postcode }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-show-delivery-time"><span data-toggle="tooltip" title="{{ help_show_delivery_time }}">{{ entry_show_delivery_time }}</span></label>
                <div class="col-sm-10">
                  <select name="shipping_auspost_pac_show_delivery_time" id="input-show-delivery-time" class="form-control">
                    <option value="0"{{ shipping_auspost_pac_show_delivery_time != '1' ? ' selected' : '' }}>{{ text_disabled }}</option>
                    <option value="1"{{ shipping_auspost_pac_show_delivery_time == '1' ? ' selected' : '' }}>{{ text_enabled }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-multiple-packages"><span data-toggle="tooltip" title="{{ help_multiple_packages }}">{{ entry_multiple_packages }}</span></label>
                <div class="col-sm-10">
                  <select name="shipping_auspost_pac_multiple_packages" id="input-multiple-packages" class="form-control">
                    <option value="0"{{ shipping_auspost_pac_multiple_packages != '1' ? ' selected' : '' }}>{{ text_disabled }}</option>
                    <option value="1"{{ shipping_auspost_pac_multiple_packages == '1' ? ' selected' : '' }}>{{ text_enabled }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-handling-fee"><span data-toggle="tooltip" title="{{ help_handling_fee }}">{{ entry_handling_fee }} (%)</span></label>
                <div class="col-sm-10">
                  <input type="text" name="shipping_auspost_pac_handling_fee" value="{{ shipping_auspost_pac_handling_fee }}" placeholder="{# entry_handling_fee #}" id="input-handling-fee" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-min-weight"><span data-toggle="tooltip" title="{{ help_min_weight }}">{{ entry_min_weight }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="shipping_auspost_pac_min_weight" value="{{ shipping_auspost_pac_min_weight }}" placeholder="{# entry_min_weight #}" id="input-min-weight" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-max-weight"><span data-toggle="tooltip" title="{{ help_max_weight }}">{{ entry_max_weight }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="shipping_auspost_pac_max_weight" value="{{ shipping_auspost_pac_max_weight }}" placeholder="{# entry_max_weight #}" id="input-max-weight" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-one-item-per-parcel">{{ entry_one_item_per_parcel }}</label>
                <div class="col-sm-10">
                  <select name="shipping_auspost_pac_one_item_per_parcel" id="input-one-item-per-parcel" class="form-control">
                    <option value="0"{{ shipping_auspost_pac_one_item_per_parcel != '1' ? ' selected' : '' }}>{{ text_disabled }}</option>
                    <option value="1"{{ shipping_auspost_pac_one_item_per_parcel == '1' ? ' selected' : '' }}>{{ text_enabled }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-tax-class">{{ entry_tax_class }}</label>
                <div class="col-sm-10">
                  <select name="shipping_auspost_pac_tax_class_id" id="input-tax-class" class="form-control">
                    <option value="0">{{ text_none }}</option>
                    {% for tax_class in tax_classes %}
                    <option value="{{ tax_class.tax_class_id }}"{{ tax_class.tax_class_id == shipping_auspost_pac_tax_class_id ? ' selected' : '' }}>{{ tax_class.title }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-remove-gst-from-price"><span data-toggle="tooltip" title="{{ help_remove_gst_from_price }}">{{ entry_remove_gst_from_price }}</span></label>
                <div class="col-sm-10">
                  <select name="shipping_auspost_pac_remove_gst_from_price" id="input-remove-gst-from-price" class="form-control">
                    <option value="0"{{ shipping_auspost_pac_remove_gst_from_price != '1' ? ' selected' : '' }}>{{ text_disabled }}</option>
                    <option value="1"{{ shipping_auspost_pac_remove_gst_from_price == '1' ? ' selected' : '' }}>{{ text_enabled }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                <div class="col-sm-10">
                  <select name="shipping_auspost_pac_geo_zone_id" id="input-geo-zone" class="form-control">
                    <option value="0">{{ text_all_zones }}</option>
                    {% for geo_zone in geo_zones %}
                    <option value="{{ geo_zone.geo_zone_id }}"{{ geo_zone.geo_zone_id == shipping_auspost_pac_geo_zone_id ? ' selected' : '' }}>{{ geo_zone.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="shipping_auspost_pac_status" id="input-status" class="form-control">
                    <option value="0"{{ shipping_auspost_pac_status != '1' ? ' selected' : '' }}>{{ text_disabled }}</option>
                    <option value="1"{{ shipping_auspost_pac_status == '1' ? ' selected' : '' }}>{{ text_enabled }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="shipping_auspost_pac_sort_order" value="{{ shipping_auspost_pac_sort_order }}" placeholder="{# entry_sort_order #}" id="input-sort-order" class="form-control" />
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-services">
              <div class="table-responsive">
                <table id="service" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_service }}</td>
                      <td class="text-left">{{ entry_region }}</td>
                      <td class="text-left">{{ entry_options }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>

                  {% set service_row = 0 %}
                  {% for shipping_auspost_pac_service in shipping_auspost_pac_services %}
                    {% set service = (shipping_auspost_pac_service.code is defined and services[shipping_auspost_pac_service.code] is defined ? services[shipping_auspost_pac_service.code] : false) %}
                    {% if service is not empty %}
                    <tr id="service-row{{ service_row }}" data-row-id="{{ service_row }}">
                      <td class="text-left" style="width: 30%;">
                        <select name="shipping_auspost_pac_service[{{ service_row }}][code]" class="form-control auspost-service-select">
                          <option value="">{{ text_select_service }}</option>
                          <optgroup label="Domestic">
                            {% for code, option in services %}
                            {% if option.region == 'Domestic' %}
                            <option value="{{ code }}"{{ code == service.code ? ' selected' : '' }}>{{ option.name }}</option>
                            {% endif %}
                            {% endfor %}
                          </optgroup>
                          <optgroup label="International">
                            {% for code, option in services %}
                            {% if option.region == 'International' %}
                            <option value="{{ code }}"{{ code == service.code ? ' selected' : '' }}>{{ option.name }}</option>
                            {% endif %}
                            {% endfor %}
                          </optgroup>
                        </select>
                      </td>
                      <td class="text-left auspost-service-region">
                        <input type="hidden" name="shipping_auspost_pac_service[{{ service_row }}][is_domestic]" value="{{ service.region == 'Domestic' ? 1 : 0 }}" />
                        {{ service.region }}
                      </td>
                      <td class="text-left auspost-service-options">
                      {% if service.options is defined %}
                        <div class="auspost-expand auspost-options">
                          {% for option in service.options %}
                          <div class="auspost-row">
                            <div class="checkbox"><label>

                            <input type="checkbox" name="shipping_auspost_pac_service[{{ service_row }}][option][{{ option.code }}][status]" value="1"{{ shipping_auspost_pac_service.option[option.code]['status'] is defined or option.checked is defined ? ' checked' : '' }} />
                            {{ option.name }}

                            {% if option.type is defined %}
                              <div class="auspost-expand auspost-input">
                                <input type="text" name="shipping_auspost_pac_service[{{ service_row }}][option][{{ option.code }}][value]" value="{{ shipping_auspost_pac_service.option[option.code]['status'] is defined and shipping_auspost_pac_service.option[option.code]['value'] is defined ? shipping_auspost_pac_service.option[option.code]['value'] : '' }}" />
                              </div>
                            {% endif %}
                            {% if option.note is defined %}
                              <span class="auspost-note">({{ option.note }})</span>
                            {% endif %}

                            </label></div>

                            {% if option.suboptions is defined %}
                            <div class="auspost-expand auspost-options">
                              {% for suboption in option.suboptions %}
                              <div class="auspost-row">
                                <div class="checkbox"><label>

                                {% if suboption.disabled is not defined %}
                                <input type="checkbox" name="shipping_auspost_pac_service[{{ service_row }}][option][{{ option.code }}][suboption][{{ suboption.code }}][status]" value="1"{{ shipping_auspost_pac_service.option[option.code]['suboption'][suboption.code]['status'] is defined or suboption.checked is defined ? ' checked' : '' }} />
                                {% else %}
                                <input type="hidden" name="shipping_auspost_pac_service[{{ service_row }}][option][{{ option.code }}][suboption][{{ suboption.code }}][status]" value="{{ shipping_auspost_pac_service.option[option.code]['suboption'][suboption.code]['status'] is defined or suboption.checked is defined ? '1' : '' }}" />
                                <input type="checkbox" disabled="disabled"{{ shipping_auspost_pac_service.option[option.code]['suboption'][suboption.code]['status'] is defined or suboption.checked is defined ? ' checked' : '' }} />
                                {% endif %}

                                {{ suboption.name }}
                                    {% if suboption.type is defined %}
                                  <div class="auspost-expand auspost-input">
                                    <input type="text" name="shipping_auspost_pac_service[{{ service_row }}][option][{{ option.code }}][suboption][{{ suboption.code }}][value]" value="{{ shipping_auspost_pac_service.option[option.code]['suboption'][suboption.code]['status'] is defined and shipping_auspost_pac_service.option[option.code]['suboption'][suboption.code]['value'] is defined ? shipping_auspost_pac_service.option[option.code]['suboption'][suboption.code]['value'] : '' }}" />
                                  </div>
                                {% endif %}
                                {% if suboption.note is defined %}
                                  <span class="auspost-note">({{ suboption.note }})</span>
                                  {% endif %}

                                </label></div>
                              </div>
                              {% endfor %}
                            </div>
                            {% endif %}


                          </div>
                          {% endfor %}
                        </div>
                        {% endif %}
                      </td>
                      <td class="text-left"><button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger auspost-pac-btn-remove-service"><i class="fa fa-minus-circle"></i></button></td>
                    </tr>
                    {% set service_row = service_row + 1 %}
                    {% endif %}
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="3"></td>
                      <td class="text-left"><button type="button" onclick="addService();" data-toggle="tooltip" title="{{ button_service_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var service_row = {{ service_row }};

var addService;

(function($){
    var SERVICES = {{ services|json_encode }};

    $('#service .auspost-expand').each(function(){
        var options = $(this),
            input = options.parent().find('> .checkbox input[type=checkbox]');

        if (input.length && !input.is(':checked')) {
            options.hide();
        }

        input.bind('change', function(){
            var $this = $(this),
                fn = (input.is(':checked') ? 'slideDown' : 'slideUp');

            options[fn]();
        });
    });

    /*$('#service').on('change', "input[type=checkbox][name^='shipping_auspost_pac_service['][name$='][status]']", function(e, ignore){*/
    $('#service').on('change', "input[type=checkbox][name^='shipping_auspost_pac_service['][name~='[suboption]'][name$='][status]']", function(e, ignore){
        var $this = $(this),
            cellEl = $this.closest('td'),
            isChecked = $this.is(':checked');

        if (!ignore) {
            var els,
                isInt = cellEl.prev().text().indexOf('International') != -1;

            if ($this.is("[name*='[suboption]']")) {
                els = cellEl.find("[name*='[suboption]']").not($this);
            } else {
                els = cellEl.find("[name*='[option]']").not("[name*='[suboption]']").not($this);
            }

            if (!isInt || els.filter(':checked').length > 0) {
                els.prop('checked' , !isChecked);
            }

            els.trigger('change', [true]);
        }
    });

    $('#service').on('change', 'select.auspost-service-select', function(e){
        e.preventDefault();

        var $this = $(this),
            row = $this.closest('tr'),
            service_row = row.data('rowId');

        var selectedOption = $('option:selected', $this),
            service = getService($this.val()),
            html = '',
            regionHtml = '',
            region = '';

        if (service) {
            region = service.region;

            regionHtml = '<input type="hidden" name="shipping_auspost_pac_service[' + service_row + '][is_domestic]" value="' + (region == 'Domestic' ? 1 : 0) + '" />' + region;

            if (service.options) {
                html += '<div class="auspost-expand auspost-options">';

                for (var i in service.options) {
                    var option = service.options[i];

                    html += '<div class="auspost-row">';

                    html += '<div class="checkbox"><label>';

                    html += '<input type="checkbox" name="shipping_auspost_pac_service[' + service_row + '][option][' + option.code + '][status]" value="1"' + (typeof option.checked != 'undefined' ? ' checked' : '') + ' />';

                    html += ' ' + option.name;

                    if (typeof option.type != 'undefined') {
                        html += '<div class="auspost-expand auspost-input">';
                        html += '<input type="text" name="shipping_auspost_pac_service[' + service_row + '][option][' + option.code + '][value]" value="' + (typeof option.value != 'undefined' ? option['value'] : '') + '" />';
                        html += '</div>';
                    }

                    if (typeof option.note != 'undefined') {
                        html += '<span class="auspost-note">(' + option.note + ')</span>';
                    }

                    html += '</label></div>';

                    if (typeof option.suboptions != 'undefined') {
                        html += '<div class="auspost-expand auspost-options">';

                        for (var j in option.suboptions) {
                            var suboption = option.suboptions[j];

                            html += '<div class="auspost-row">';

                            html += '<div class="checkbox"><label>';

                            if (typeof suboption.disabled == 'undefined') {
                                html += '<input type="checkbox" name="shipping_auspost_pac_service[' + service_row + '][option][' + option.code + '][suboption][' + suboption.code + '][status]" value="1"' + (typeof suboption.checked != 'undefined' ? ' checked' : '') + ' />';
                            } else {
                                html += '<input type="hidden" name="shipping_auspost_pac_service[' + service_row + '][option][' + option.code + '][suboption][' + suboption.code + '][status]" value="1"' + (typeof suboption.checked != 'undefined' ? ' 1' : '') + ' />';
                                html += '<input type="checkbox" name="" value="" disabled' + (suboption['status'] || suboption['checked'] ? ' checked' : '') + ' />';
                            }

                            html += ' ' + suboption.name;

                            if (typeof suboption.type != 'undefined') {
                                html += '<div class="auspost-expand auspost-input">';
                                html += '<input type="text" name="shipping_auspost_pac_service[' + service_row + '][option][' + option.code + '][suboption][' + suboption.code + '][value]" value="' + (typeof suboption.value != 'undefined' ? suboption['value'] : '') + '" />';
                                html += '</div>';
                            }

                            if (typeof suboption.note != 'undefined') {
                                html += '<span class="auspost-note">(' + suboption.note + ')</span>';
                            }

                            html += '</label></div>';

                            html += '</div>';
                        }

                        html += '</div>';
                    }

                    html += '</div>';
                }

                html += '</div>';
            }

            service_row++;
        }

        row.find('.auspost-service-region').html(regionHtml);
        row.find('.auspost-service-options').html(html);
    });

    $('#service').on('click', '.auspost-pac-btn-remove-service', function(e){
        $(this).closest('tr').remove();
    });

    function getServices() {
        if (!SERVICES) {
            SERVICES = {};
        }

        return SERVICES;
    }

    function getService(code) {
        if (SERVICES[code]) {
            var service = SERVICES[code];

            if (typeof service.options == 'undefined') {
                service.options = [];
            }

            return service;
        }
    }

    function getServicesSelectOptions() {
        var services = getServices();

        var html = '';

        html += '<option value="">{{ text_select_service }}</option>';

        html += '<optgroup label="Domestic">';

        for (var i in services) {
            if (services[i].region == 'Domestic') {
                html += '<option value="' + i + '">' + services[i].name + '</option>';
            }
        }

        html += '</optgroup>';
        html += '<optgroup label="International">';

        for (var i in services) {
            if (services[i].region == 'International') {
                html += '<option value="' + i + '">' + services[i].name + '</option>';
            }
        }

        html += '</optgroup>';

        return html;
    }

    addService = function() {
        var selectOptions = getServicesSelectOptions();

        html  = '<tr id="service-row' + service_row + '" data-row-id="' + service_row + '">';
        html += '  <td class="text-left" style="width: 30%;"><select name="shipping_auspost_pac_service[' + service_row + '][code]" class="form-control auspost-service-select">' + selectOptions + '</select></td>';
        html += '  <td class="text-left auspost-service-region"></td>';
        html += '  <td class="text-left auspost-service-options"></td>';
        html += '  <td class="text-left"><button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger auspost-pac-btn-remove-service"><i class="fa fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#service tbody').append(html);

        service_row++;
    }
})(jQuery);
</script>
{{ footer }}