{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="bulkproduct"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_product }}</span></label>
                <input type="text" id="bulkproduct" name="filter_name" product_id="" class="form-control"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
              	{{ text_help }}
              </div>
            </div>
          </div>
        </div>
        <div class="well" id="filtertable" style="display:none">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
              	<label class="control-label" for="categoryfilter">{{ filter_category }}</label>
                <input type="text" value="" id="categoryfilter" class="form-control" name="categoryfilter" />
              </div>
              <button type="button" id="filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ filter_show_categories }}</button>
            </div>
          </div>
        </div>
		<div id="selectedproduct">&nbsp</div>
		<div id="assignalldiv" style="display:none"><a id="assignall" class="btn btn-info">{{ text_assign_all }}</a>&nbsp<a id="unassignall" class="btn btn-info">{{ text_clear_all }}</a></div>
		<div id="bulkmessage" style="text-align: center;"></div><div id="itemscount" style="text-align: right;"></div>
		<div id="items-per-row" style="display:none; text-align: right;">
			{{ entry_items_per_row }} &nbsp
			<select id="items-per-row-select">
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4" selected="selected">4</option>
			  <option value="5">5</option>
			  <option value="6">6</option>
			</select>
		</div>
		<div class="table-responsive" id="bulkcategoriestable"></div>
	  </div>
    </div>
  </div>
</div>

<script type="text/javascript"><!--
$(document).ajaxStart(function() {
  $( "#bulkmessage" ).html( "<b>Please wait...</b>" );
});
$(document).ajaxStop(function() {
  $( "#bulkmessage" ).html( "&nbsp" );
});

$('input[name=\'filter_name\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/module/bulk_categories_to_product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {				
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	}, 
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
		$('input[name=\'filter_name\']').attr('product_id', item['value']);
		if ($('#bulkproduct').val()){
			$('#filtertable').show();
			$("#filter").trigger("click");
			$('#selectedproduct').html('<b>{{ text_selected_product }}'+item['label']+'</b>');
		}else{
			$('#filtertable').hide();
			$('#bulkcategoriestable').html('');
			$('#selectedproduct').html('');
		}
						
		return false;
	},
	focus: function(event, ui) {
      	return false;
   	}
});

$('#assignall').click(function(e) {
	x=window.confirm("Are you sure you want to assign all these categories to selected product?\n*Please, wait until all items change color.");
	if (x){
		$("input[id*=\'bulk_categories\']").each(function(){
			this.checked = true;
			AssignCategory(this);
		});
	}
});

$('#unassignall').click(function(e) {
	x=window.confirm("Are you sure you want to remove all these categories from selected product?\n*Please, wait until all items change color.");
	if (x){
		$("input[id*=\'bulk_categories\']").each(function(){
			this.checked = false;
			AssignCategory(this);
		});
	}
});


$('#items-per-row').change(function(event) {
	$("#filter").trigger("click");
});

$('#categoryfilter').keypress(function(event) {
        if (event.keyCode == 13) {
            $("#filter").trigger("click");
        }
});

$('#filter').click(function() {
	$('#assignalldiv').show();
	$('#bulkcategoriestable').html('');

	var categoryfilter = $('#categoryfilter').val();
	var product_id = $('#bulkproduct').attr('product_id');
	var itemsPerRow = $('#items-per-row-select').val();
	$('#items-per-row').show();

	$.ajax({
		type : 'get',          
		url : 'index.php?route=extension/module/bulk_categories_to_product/productCategories&user_token={{ user_token }}',
		data: { 'product_id' : product_id },
		dataType: 'json',
        	success : function (json) {
			if (json){
				product_categories = [];
				for (i = 0; i < json.length; i++) {
					product_categories.push(json[i].category_id);
				}

				$.ajax({
					type : 'get',          
					url : 'index.php?route=extension/module/bulk_categories_to_product/getCategories&user_token={{ user_token }}',
					data: { 'categoryfilter' : categoryfilter },
					dataType: 'json',
			        	success : function (json) {
						if (json && product_id>0){
							row=0;
							html = '<table class="table table-bordered"><tr>';
							for (i = 0; i < json.length; i++) {
								if (jQuery.inArray(json[i].category_id, product_categories)!== -1){
									html += '<td id="tdbulk_categories'+json[i].category_id+'" style="background-color:#1e91cf; color:#FFFFFF"><input type="checkbox" id="bulk_categories'+json[i].category_id+'" onchange="AssignCategory(this);" value="' + json[i].category_id
 + '" checked="checked"  /> <label class="control-label" for="bulk_categories'+json[i].category_id + '">' + json[i].name + '</label></td>';
								}else{
									html += '<td id="tdbulk_categories'+json[i].category_id+'"><input type="checkbox" id="bulk_categories'+json[i].category_id+'" onchange="AssignCategory(this);" value="' + json[i].category_id
 + '"  /> <label class="control-label" for="bulk_categories'+json[i].category_id + '">' + json[i].name + '</label></td>';
								}
								row++;
								if (row==itemsPerRow){
									html += '</tr><tr>';
									row=0;
								}
							}
				
							for (i=row; i<itemsPerRow; i++){
								html += '<td>&nbsp;</td>';
							}
							html += '</tr></table>';
							$('#itemscount').html('<b>Items: '+json.length+'</b>');
							$('#bulkcategoriestable').html(html);
						}else{
							$('#itemscount').html('<span><b>Could not load categories. Please select an existing product.</b></span>');
						}
					}      
				});
			}else{
				$('#itemscount').html('<span><b>Could not load categories from selected product</b></span>');
				$('#bulkcategoriestable').html('');
			}
		}    
	});
});

function AssignCategory(category){

	product_id = $('#bulkproduct').attr('product_id');
	category_id = category.value;

	if (category.checked){
		$.ajax({
			type : 'get',          
			url : 'index.php?route=extension/module/bulk_categories_to_product/InsertAssignment&user_token={{ user_token }}',
			data: { 'product_id' : product_id, 'category_id' : category_id },
			dataType: 'json',
			success : function (json) {
				if (json){
					$('#td'+category.id).css({'background-color':'#1e91cf', 'color' : '#FFFFFF'});
					$("#bulkcategoriestable input").attr("disabled", false);
				}
			}      
		});
	}else{
		$.ajax({
			type : 'get',          
			url : 'index.php?route=extension/module/bulk_categories_to_product/DeleteAssignment&user_token={{ user_token }}',
			data: { 'product_id' : product_id, 'category_id' : category_id },
			dataType: 'json',
			success : function (json) {
				if (json){
					$('#td'+category.id).css({'background-color':'', 'color' : ''});
					$("#bulkcategoriestable input").attr("disabled", false);
				}
			}      
		});
	}
}
//--></script> 

<?php echo $footer; ?>
